.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Helveticaneue ltstd roman', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Helveticaneue ltstd bd', sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 84px;
  font-weight: 400;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

.navbar-logo-left {
  background-color: #f27741;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand.mobile {
  display: none;
}

.nav-menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  font-family: Bosch, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link.w--current {
  text-decoration: underline;
}

.mobile-margin-top-10.mobile {
  display: none;
}

.nav-button {
  padding: 14px 25px;
  border-radius: 36px;
  background-color: #f2da54;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bosch, sans-serif;
  color: #14234b;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-button:hover {
  background-color: #32343a;
  color: #fff;
}

.nav-button:active {
  background-color: #43464d;
}

.nav-logo-image {
  height: 63px;
}

.hero-section {
  position: relative;
  height: 850px;
  background-color: #f27741;
}

.hero-embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.narrow-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #14234b;
}

.narrow-section.grey {
  background-color: #e4e9e9;
}

.narrow-section.grey.no-overflow {
  overflow: hidden;
}

.narrow-section.grey.no-overflow.hidden {
  display: none;
}

.narrow-section.orange {
  background-color: #f27741;
}

.narrow-section.beige {
  background-color: #f1efdc;
}

.narrow-section-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 60px;
}

.centered {
  text-align: center;
}

.container-wrapper {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.container-wrapper.full-width {
  width: 100%;
}

.container-wrapper.overflow-none {
  overflow: hidden;
}

.blue {
  color: #14234b;
}

.blue.centered.bottom-margin {
  margin-bottom: 60px;
}

.blue.bold {
  font-family: 'Helveticaneue ltstd bd', sans-serif;
}

.blue.bold.exhibitor-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
}

.cta-button {
  padding: 14px 25px;
  border-radius: 36px;
  background-color: #f2da54;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bosch, sans-serif;
  color: #14234b;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #32343a;
  color: #fff;
}

.cta-button:active {
  background-color: #43464d;
}

.cta-button.blue {
  background-color: #14234b;
  color: #f2da54;
}

.cta-button.blue:hover {
  -webkit-transform: translate(3px, -3px);
  -ms-transform: translate(3px, -3px);
  transform: translate(3px, -3px);
  color: #f27741;
}

.cta-button.blue.margin-top {
  margin-top: 15px;
}

.tall-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tall-section.yellow {
  background-color: #f2da54;
}

.tall-section.blue {
  background-color: #14234b;
}

.card-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 32px;
  background-color: #60c1e7;
}

.card-wrapper.inverted {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.card-wrapper.yellow {
  background-color: #f2da54;
}

.card-embed {
  width: 100%;
  height: 400px;
}

.card-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grey {
  color: #485472;
}

.dual-cards-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.numbers-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
}

.number-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.light {
  font-family: 'Helveticaneueltstd th', sans-serif;
}

.light.blue.caps {
  text-transform: uppercase;
}

.light.blue.caps.no-margins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.number-divider {
  width: 3px;
  height: 200px;
  background-color: #fff;
}

.no-margins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-field {
  min-height: 50px;
  border: 1px solid #485472;
  border-radius: 8px;
  background-color: transparent;
}

.text-field::-webkit-input-placeholder {
  color: #485472;
}

.text-field:-ms-input-placeholder {
  color: #485472;
}

.text-field::-ms-input-placeholder {
  color: #485472;
}

.text-field::placeholder {
  color: #485472;
}

.text-field.large {
  min-height: 130px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  width: 100%;
  max-width: 600px;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.7;
}

.footer-link:hover {
  opacity: 1;
}

.footer-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer5-right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-section {
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f27741;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer5-links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo-image {
  height: auto;
}

.nav-logo-link-wrapper {
  width: 120px;
}

.footer-nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  font-family: Bosch, sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.footer-nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.footer-nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.footer-nav-link.w--current {
  text-decoration: underline;
}

.footer-legal-text {
  font-family: 'Helveticaneueltstd th', sans-serif;
  color: #f1efdc;
  font-size: 14px;
  line-height: 18px;
}

.footer-legal-text.right-aligned {
  text-align: right;
}

.footer-filler-div {
  height: 40px;
}

.hero-container-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-container-wrapper.absolute {
  position: absolute;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -58px;
  height: 250px;
}

.map-embed {
  width: 100%;
  height: 800px;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-color: #3f4046;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.3);
  color: #b8b9c2;
}

.card.test {
  cursor: pointer;
}

.arrow-right {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 30px;
  height: 30px;
}

.cards-container {
  width: 90%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-slider {
  overflow: hidden;
  margin-right: 34px;
  border-radius: 32px;
}

.carousel-mask {
  overflow: visible;
  width: 40%;
}

.carousel {
  width: 100vw;
  height: 400px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.carousel.is_contained {
  width: 100%;
  height: auto;
  padding-bottom: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.arrow-left {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 30px;
  height: 30px;
}

.card-header {
  height: 350px;
}

.card-body {
  height: 250px;
  padding: 30px;
  background-color: #f1efdc;
}

.card-body.white {
  background-color: #fff;
}

.card-heading {
  color: #14234b;
  font-size: 34px;
  line-height: 38px;
}

.slide-nav {
  color: #14234b;
  font-size: 18px;
  line-height: 30px;
}

.arrow-icon {
  color: #14234b;
}

.splide {
  position: relative;
  width: 100%;
}

.splide.slider2.tall {
  overflow: hidden;
}

.splide.slider2.tall.non-relative {
  position: static;
}

.splide.slider2.tall.overflow {
  overflow: visible;
}

.splide__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.splide__list.test {
  position: static;
  overflow: visible;
}

.section.is--dark {
  background-color: #242022;
  color: #dfdad5;
}

.embed {
  max-height: 100%;
}

.splide__slide {
  width: 33.333333333333336%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.splide__slide.five-cards {
  overflow: hidden;
  width: 35%;
  border-radius: 32px;
}

.splide__slide.five-cards.with-overflow {
  overflow: visible;
}

.splide__slide.five-cards.test {
  position: static;
  overflow: visible;
}

.carousel-container {
  overflow: hidden;
  width: 1560px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 20px;
}

.carousel-container.overflow {
  overflow: visible;
}

.splide__track {
  width: 100%;
}

.splide__track.test {
  position: static;
  overflow: visible;
}

.splide__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 40px;
}

.splide__arrows.is--center {
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-tall {
  padding-bottom: 3.5em;
}

.slider-tall.center {
  text-align: center;
}

.slider-tall_img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
  padding-top: 149%;
  -webkit-transition: border-radius 500ms ease, -webkit-transform 500ms ease;
  transition: border-radius 500ms ease, -webkit-transform 500ms ease;
  transition: border-radius 500ms ease, transform 500ms ease;
  transition: border-radius 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

.slider-tall_img.rounded {
  border-radius: 2em;
}

.slider-tall_photo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-opacity {
  opacity: 0.3;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.sliders_text2 {
  font-style: italic;
}

.splide__arrow {
  width: 50px;
  height: 50px;
  margin-right: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #242022;
  border-radius: 100vw;
  background-color: transparent;
  background-image: var(--image-77011312);
  background-position: 50% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.splide__arrow:hover {
  background-color: rgba(55, 50, 53, 0.06);
}

.splide__arrow.splide__arrow--next:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.splide__arrow.splide__arrow--prev {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.splide__arrow.splide__arrow--prev:active {
  -webkit-transform: scale(0.95) rotate(-180deg);
  -ms-transform: scale(0.95) rotate(-180deg);
  transform: scale(0.95) rotate(-180deg);
}

.splide__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination_item {
  display: inline-block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.splide__pagination__page {
  width: 3em;
  height: 4px;
  margin-right: 0em;
  margin-left: 0.3em;
  background-color: #242022;
  opacity: 0.2;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.splide__pagination__page.is-active {
  background-color: #242022;
  opacity: 1;
}

.splide__pagination-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-heading-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feature-section-grid {
  width: 100%;
}

.feature-section-grid._3-column {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-section-wrapper {
  width: 100%;
}

.feature-section-wrapper.bottom-margin {
  margin-bottom: 100px;
}

.feature-section-container-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed {
  width: 100%;
  height: 100%;
}

.left-aligned-feature-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 20px;
}

.feature-logo-image {
  height: 100px;
}

.form-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-section.yellow {
  background-color: #f2da54;
}

.form-section.blue {
  background-color: #14234b;
}

.exhibitor-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-color: #3f4046;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.3);
  color: #b8b9c2;
}

.exhibitor-card-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.exhibitor-body {
  color: #000;
  font-size: 15px;
  line-height: 20px;
}

.exhibitor-body.contact {
  max-width: 100%;
  font-size: 18px;
}

.exhibitor-image {
  height: 100px;
  max-width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

.exhibitor-text-info-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 10px;
}

.exhibitor-text-info-wrapper.full-width {
  width: 100%;
}

.exhibitor-button {
  width: 100%;
  padding: 9px 25px;
  border-radius: 36px;
  background-color: #f2da54;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bosch, sans-serif;
  color: #14234b;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
}

.exhibitor-button:hover {
  background-color: #32343a;
  color: #fff;
}

.exhibitor-button:active {
  background-color: #43464d;
}

.exhibitor-button.blue {
  background-color: #14234b;
  color: #f2da54;
}

.exhibitor-button.blue:hover {
  -webkit-transform: translate(3px, -3px);
  -ms-transform: translate(3px, -3px);
  transform: translate(3px, -3px);
  color: #f27741;
}

.exhibitor-button.blue.margin-top {
  margin-top: 15px;
}

.popup-exhibitors-modal-wrapper {
  z-index: 9999999;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.09);
}

.popup-exhibitors-modal-wrapper.hidden {
  display: none;
}

.popup-modal {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
}

.test-white-div {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #bb7272;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.exhibitors-list-wrapper {
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.exhibitors-list {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.list-exhibitor-logo {
  max-height: 100px;
  max-width: 90px;
}

.empty-state {
  display: none;
}

.exit-button {
  position: absolute;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;
  width: 25px;
  height: 25px;
  background-image: var(--image-i4b96f42f);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.image-2 {
  width: 100%;
  height: 100%;
}

.slider-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider-card {
  overflow: hidden;
  width: 400px;
  height: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  background-color: #3f4046;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.3);
  color: #b8b9c2;
}

.slider-card.test {
  cursor: pointer;
}

.slider-item {
  margin-right: 24px;
}

.overflow-none {
  overflow: hidden;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  font-size: 18px;
  line-height: 22px;
}

.image-3 {
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.link-card {
  width: 24vw;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 99999;
  }

  .navbar-logo-left-container.shadow-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    max-width: 728px;
  }

  .navbar-brand.mobile {
    display: block;
  }

  .navbar-brand.mobile-hide {
    display: none;
  }

  .nav-menu-wrapper {
    height: 100vh;
    min-height: 500px;
    background-color: transparent;
  }

  .nav-menu-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 50px;
    border-radius: 0px;
    background-color: #f27741;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-menu-two.mobile-hide {
    display: none;
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .mobile-margin-top-10.mobile {
    display: block;
  }

  .menu-button {
    padding: 5px 12px;
  }

  .menu-button.w--open {
    background-color: transparent;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    color: #fff;
  }

  .middle-nav-items-wrapper {
    height: 100%;
  }

  .tall-section.yellow.padded {
    padding-right: 20px;
    padding-left: 20px;
  }

  .card-wrapper {
    max-width: 100%;
  }

  .numbers-wrapper {
    grid-column-gap: 20px;
  }

  .footer-link {
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer5-right-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .footer-grid {
    width: 100%;
    max-width: 738px;
    justify-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer5-links-wrap {
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 30px;
  }

  .footer-logo-image {
    width: 100%;
    height: 100%;
  }

  .nav-logo-link-wrapper {
    width: 240px;
    height: 120px;
  }

  .footer-nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer-filler-div {
    display: none;
  }

  .lottie-animation {
    bottom: -34px;
    height: 150px;
  }

  .splide__slide {
    width: 50%;
  }

  .splide__slide.five-cards {
    width: 33.333333333333336%;
  }

  .splide__pagination {
    position: relative;
    padding-top: 1.9em;
  }

  .splide__pagination__page {
    width: 2em;
    height: 3px;
    margin-right: 0.3em;
    margin-left: 0em;
  }

  .splide__pagination-2 {
    position: relative;
    padding-top: 1.9em;
  }

  .form-section.yellow.padded {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-4 {
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .narrow-section-items-wrapper {
    grid-row-gap: 30px;
  }

  .cib-logo {
    width: 450px;
  }

  .container-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .dual-cards-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .numbers-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
  }

  .number-divider {
    width: 100%;
    height: 3px;
  }

  .footer-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-grid {
    max-width: none;
  }

  .footer-nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .map-embed {
    height: 600px;
  }

  .carousel-mask {
    width: 60%;
  }

  .splide.slider2.tall {
    overflow: visible;
  }

  .splide__slide {
    width: 100%;
  }

  .splide__slide.five-cards {
    width: 100%;
  }

  .slider-tall_img {
    padding-top: 125%;
  }

  .feature-item-wrapper.embed {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 32px;
    line-height: 38px;
  }

  h1 {
    font-size: 54px;
    line-height: 56px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
  }

  .container {
    max-width: 100%;
  }

  .nav-menu-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cta-button {
    max-width: 100%;
    font-size: 28px;
  }

  .cta-button.blue.margin-top {
    line-height: 34px;
    white-space: break-spaces;
  }

  .card-wrapper {
    height: auto;
  }

  .card-embed {
    height: 400px;
  }

  .card-text-wrapper {
    padding: 20px;
  }

  .numbers-wrapper {
    grid-row-gap: 50px;
  }

  .footer5-right-column {
    text-align: center;
  }

  .footer-section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footer-grid {
    grid-column-gap: 12px;
    grid-row-gap: 30px;
  }

  .footer5-links-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-logo-link-wrapper {
    width: 200px;
    height: 110px;
    max-width: 100%;
  }

  .footer-legal-text {
    font-size: 12px;
  }

  .footer-legal-text.right-aligned {
    text-align: left;
  }

  .map-embed {
    height: 500px;
  }

  .carousel-slider {
    padding-right: 10px;
    padding-left: 10px;
  }

  .carousel-mask {
    width: 100%;
  }

  .card-body {
    padding: 20px;
  }

  .exhibitor-button {
    max-width: 100%;
    font-size: 28px;
  }

  .exhibitor-button.blue.margin-top {
    line-height: 34px;
    white-space: break-spaces;
  }
}

#w-node-_371987f7-477d-b662-4d60-46bc8f22e9da-8f22e9cd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 8;
  grid-column-start: span 8;
  -ms-grid-column-span: 8;
  grid-column-end: span 8;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_371987f7-477d-b662-4d60-46bc8f22e9e4-8f22e9cd {
  -ms-grid-column: span 10;
  grid-column-start: span 10;
  -ms-grid-column-span: 10;
  grid-column-end: span 10;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_371987f7-477d-b662-4d60-46bc8f22e9e5-8f22e9cd {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_371987f7-477d-b662-4d60-46bc8f22e9e7-8f22e9cd {
  -ms-grid-column: span 8;
  grid-column-start: span 8;
  -ms-grid-column-span: 8;
  grid-column-end: span 8;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e848cd1e-7a65-0172-e732-56220ded8a9f-a60c874a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e848cd1e-7a65-0172-e732-56220ded8aa1-a60c874a {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0362a8e5-4645-bec7-49f6-0c8502116cac-9398318a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d88a6642-4cb8-9d46-2519-5a3f85173192-9398318a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_11be8e6e-dbec-f3b5-a02c-5dafbd9f12eb-9398318a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba3c-9398318a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba39-9398318a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba3e-9398318a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b2-9398318a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b0-9398318a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b5-9398318a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9d1-8f22e9cd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9d3-8f22e9cd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9da-8f22e9cd {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9e4-8f22e9cd {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9e5-8f22e9cd {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9e7-8f22e9cd {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9d1-8f22e9cd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9da-8f22e9cd {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_0362a8e5-4645-bec7-49f6-0c8502116cac-9398318a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d88a6642-4cb8-9d46-2519-5a3f85173192-9398318a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba3c-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba39-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4d0587ee-771b-0ed4-f805-b0d4fe26ba3e-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b2-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b0-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1fe47f9c-2c13-f7dc-7a9a-b6b982f198b5-9398318a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9d1-8f22e9cd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9da-8f22e9cd {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9e5-8f22e9cd {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_371987f7-477d-b662-4d60-46bc8f22e9e7-8f22e9cd {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Helveticaneue ltstd bd';
  src: url("/assets/fonts/helveticaneue-ltstd-bd.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue ltstd bdit';
  src: url("/assets/fonts/helveticaneue-ltstd-bdit.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue ltstd roman';
  src: url("/assets/fonts/helveticaneue-ltstd-roman.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue ltstd ltit';
  src: url("/assets/fonts/helveticaneue-ltstd-ltit.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bosch';
  src: url("/assets/fonts/bosch.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneueltstd th';
  src: url("/assets/fonts/helveticaneueltstd-th.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}